@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}


/* Common styles */

.dark-1{
    color: #0D1321;
}

/* .bg-primary{} */


.btn-primary{
    padding: 28px 32px;
    color: #fff;
    background-color: #0D1321;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
}


.header{
    height: 870px;
    background: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-content .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 34px 295px 58px;
    max-width: 1440px;
    height: 870px;

    /* background-color: antiquewhite; */
}

.header .banner-title{
    font-size: 63px;
    line-height: 90px;
    font-weight: bolder;
    margin-top: 42px;
}

.header .banner-description{
    font-size: 21px;
    line-height: 34px;
    font-weight: normal;
    opacity: 0.7;
    margin: 32px 97px 42px;
}

.header .btn-primary{
    margin-top: 40px;
}



