@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}


/* Common styles */

.dark-1{
    color: #0D1321;
}

/* .bg-primary{} */

.section-title{
    font-size: 42px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
}

.section-description{
    font-size: 21px;
    font-weight: 400;
    line-height: 34px;;
    text-align: justify;
    margin: 30px;
}


.btn-primary{
    padding: 28px 32px;
    color: #fff;
    background-color: #0D1321;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
}

/* Header Section */

.header{
    height: 870px;
    background: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-content .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 34px 295px 58px;
    max-width: 1440px;
    height: 870px;

    /* background-color: antiquewhite; */
}

.header .banner-title{
    font-size: 63px;
    line-height: 90px;
    font-weight: bolder;
    margin-top: 42px;
}

.header .banner-description{
    font-size: 21px;
    line-height: 34px;
    font-weight: normal;
    opacity: 0.7;
    margin: 32px 97px 42px;
}

.header .btn-primary{
    margin-top: 40px;
}


/* Main Section */

.content-container{
    max-width: 1520px;
    margin: 0 auto;
}


/* Why section */

.why{
    padding: 100px 130px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    /* margin: 80px; */
    margin: 80px 0;
}

.why-content{
    margin: 0 12px;
}

.why-items{
    margin-top: 70px;
}


.why-items .why-item{
    margin: 30px 0;
    padding: 60px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.why-items .why-item:nth-child(2){
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.why-items .why-item item-img{
    width: 100%;
}

.why-items .why-item .item-info{
    margin: 10px;
}

.why-item .item-info .info-title{
    opacity: 0.7;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}


.why-item .item-info .info-description{
    opacity: 0.7;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin: 20px 0 32px;
}

.why-item .item-info .btn-info{
    padding: 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background: none;
}



/* Inspiration Section */

.inspiration{
    margin: 100px 0 200px;
    text-align: center;
}

.inspiration .section-info{
    /* max-width: 1133px;
    margin: 0 auto 70px; */
    padding: 0 142px 70px;

}

.inspiration .inspiration-source{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;  
}


.inspiration iframe{
    margin: 42px;
    width: 1440px;
    height: 820px;
}







